* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;
  --bg-color: #ffffff;
  --sf-color: #f5f5f5;
  --sk-color: #d9d9d9;
  --sh-color: hsla(0, 0%, 100%, 0.568);
  --txp-color: #313131;
  --txs-color: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --txt-lg: bold 32px/125% var(--font-family);
  --txt: 16px/150% var(--font-family);
  --txt-md: 14px/170% var(--font-family);
  --txt-sm: 1px/175% var(--font-family);
}

body {
  font: var(--txt);
  color: var(--txs-color);
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand-color);
  text-decoration: underline;
}

.container{ 
  padding-inline: 32px;
  max-inline-size: 1280px;
  margin-inline: auto;
}

.surface-color{
  background-color: var(--sf-color);
}

