.profile-box {
  padding-block: 32px;
  font: var(--txt-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 32px;
  align-items: center;
}

#profile > div {
  max-inline-size: 384px;
}

#profile h1 {
  font: var(--txt-lg);
  color: var(--txp-color);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 16px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;

  inline-size: 280px;
}
